{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
    </head>
	<body>
		

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">New-Password</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">New-Password</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">New-Password</h3>
							</div>
							{% if msg %}
								<b style="color: blue;">{{msg}}</b>
							{% endif %}
							<form name="signup" method="post" action="{% url 'New-password' %}">
								{% csrf_token %}
								
								<div class="form-group">
									<input type="hidden" name="email" value="{{email}}" >
								</div>
								<div class="form-group">
									<input class="input" type="password" name="New-Password" placeholder="Please enter new password">
								</div>
								<div class="form-group">
									<input class="input" type="password" name="cNew-Password" placeholder="Please enter Confirm New Password">
								</div>
								<div class="form-group">
									<input type="submit" value="Update Password" class="btn btn-primary btn-lg btn-block">
								</div>
							</form> 
						</div>
						<!-- /Billing Details -->
	</body>
</html>
{% endblock %}